/* ----------------Imports---------------- */
@import url('https://fonts.googleapis.com/css?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
    --footer-height: 7rem;
}

/* ----------------Background and containers---------------- */
.angle-cut {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.angle-cut-y {
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
}

.angle-cut-top {
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
}

.bg-blue {
    background: cadetblue;
}

.bg-dark-image {
    background: url(../../src/assets/images/bg-home-blur-dark.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-light-grey {
    background: #e9e9e9;
}

.bg-ramp {
    background-image: linear-gradient(to bottom right, #eaeaea, gray);
}

.custom-bg {
    background: url(../../src/assets/images/bg-home-blur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.no-bg {
    background-color: rgba(0, 0, 0, 0);
}

.pt-massive {
    padding-top: 10rem;
}

.p-massive {
    padding: 10rem;
}

.py-massive {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

/* ----------------Borders---------------- */
.border-thick {
    border: 1rem solid;
}

/* ----------------Colour---------------- */
.text-blue {
    color: cadetblue;
}

/* ----------------Footer---------------- */
.height-rem {
    height: var(--footer-height);
}

/* ----------------Images---------------- */
.img-cover {
    object-fit: cover;
}

.img-large {
    max-height: 30rem;
}

.img-rounded {
    border-radius: 50%;
}

.max-width {
    max-width: 100%;
}

.bg-image {
    height: 18rem;
    width: 100%;
    object-fit: cover;
}

.profile-pic {
    height: 12rem;
    width: 12rem;
    object-fit: cover;
}

.profile-pic-small {
    max-height: 10rem;
    width: 10rem;
    object-fit: contain;
}

/* ----------------Overrides---------------- */
button {
    letter-spacing: 1px;
    transition-duration: 0.2s;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}

element {
    --main-color: #ffc107;
    --main-text-color: #2c3e50;
    --background-color: #dfdfdf;
    --height100: 100%;
}

ion-grid {
    width: 100%;
    height: var(--height100);
    background: var(--background-color);
}

ion-button {
    --border: none;
    --box-shadow: none;
}

/* ----------------Text---------------- */
.fancy-text {
    font-family: 'Lobster Two', cursive;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-weight-light {
    font-weight: 100;
}

.font-weight-light-medium {
    font-weight: 300;
}

.link-text {
    color: var(--main-text-color);
    font-weight: 300;
    text-decoration: none;
    transition-duration: 0.2s;
}

.link-text:hover {
    color: cadetblue;
    text-decoration: none;
}

.title {
    color: black;
    font-size: 4rem;
    margin: 0;
}

.text-small {
    font-size: 1rem;
}

.text-large {
    font-size: 2rem;
}

.text-title{
    font-size: 3rem;
}

.no-decoration {
    text-decoration: none;
}

.no-decoration:hover {
    text-decoration: none;
}

.text-black {
    color: black;
}

.text-shadow {
    text-shadow: 2px 2px 2px black;
}

.normal-shadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.old-standard {
    font-family: 'Old Standard TT', serif;
}

/* ----------------Borders---------------- */
.border-square {
    border-radius: 0rem !important;
}

.h-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    border-top: 2px solid gray;
}

/* ----------------Responsiveness---------------- */
.flex-image-width {
    width: 16rem !important;
}

.mb-negative {
    margin-bottom: -7rem;
}

.responsive-flex {
    flex-direction: row;
}

.responsive-flex-width {
    max-width: 50%;
}

.responsive-width {
    max-width: 100% !important;
}

@media (max-height: 1014px) {
    .mb-negative {
        margin-bottom: 0;
    }
}

@media (max-width: 996px) {
    .bg-image {
        height: 12rem;
    }

    .mb-negative {
        margin-bottom: 0;
    }

    .responsive-flex {
        flex-direction: column;
    }

    .responsive-flex-width {
        max-width: none;
    }
}

@media (max-width: 548px) {
    .profile-pic {
        height: 8rem;
        width: 8rem;
    }

    .border-thick {
        border-width: 0.5rem;
    }

    .flex-image-width {
        width: 10rem !important;
    }
}

@media (max-width: 448px) {
    .profile-pic {
        height: 7rem;
        width: 7rem;
    }

    .border-thick {
        border-width: 0.3rem;
    }

    .flex-image-width {
        width: 8rem !important;
    }
}

@media (min-width: 512px) {
    .responsive-width {
        max-width: 30rem !important;
    }
}

.max-width-small {
    max-width: 30rem;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: white;
    }

    ion-col {
        border: none;
    }
}
